/BookStore/nbproject/private/
/BookWarehouse/nbproject/private/
/WarehouseMDB/nbproject/private/
/WarehouseClient/nbproject/private/
/StoreClient/nbproject/private/
/StoreAPI/nbproject/private/
/StoreSB/nbproject/private/
/StoreAPI/build/
/StoreAPI/dist/
/WarehouseSB/nbproject/private/