/BookStore/nbproject/private/
/BookWarehouse/nbproject/private/
/WarehouseMDB/nbproject/private/
/WarehouseClient/nbproject/private/
/StoreClient/nbproject/private/
/StoreAPI/nbproject/private/
/StoreSB/nbproject/private/
/StoreAPI/build/
/StoreAPI/dist/
/WarehouseSB/nbproject/private/
/Store/nbproject/private/

/JavaFXApplication3/nbproject/private/
/StoreClient/build/
/StoreClient/dist/
/WarehouseClient/build/
/WarehouseClient/dist/
/BookWarehouse/dist/
/BookWarehouse/build/
/WarehouseMDB/dist/
/WarehouseMDB/build/
/BookStore/dist/
/BookStore/build/
/Store/build/
/Store/dist/
/IStoreAPI/nbproject/private/
/StoreEJB/nbproject/private/
/IStoreAPI/build/
/IStoreAPI/dist/
/StoreEJB/dist/
/StoreClient2/nbproject/private/