<div class="well well-lg text-center">
    <h2>View your past orders</h2><br>
    <a class="btn btn-lg btn-default" href="#/viewOrders">
        View Orders
    </a>
</div>
<h2 ng-show="!waiting">Place a new order</h2>
<div ng-show="!waiting" class="container">
    <form class="form">
        <fieldset class="form-field">
            <label class="form-label" for="name">Name</label>
            <input class="form-input" name="name" ng-model="user.name" placeholder='Username'/>
        </fieldset>
        <fieldset class="form-field">
            <label class="form-label" for="email">Email</label>
            <input class="form-input" name="email" ng-model="user.email" placeholder='user@example.com' />
        </fieldset>
        <fieldset class="form-field">
            <label class="form-label" for="address">Address</label>
            <textarea class="form-input" name="address" ng-model="user.address" placeholder='Address' />
        </fieldset>
        <fieldset class="form-field">
            <label class="form-label" for="title">Title</label>
            <select name="title" ng-model="selectedBook" ng-options="book.title for book in books">
            </select>
            <tt ng-show="selectedBook">Price: {{selectedBook.price}}<i class="glyphicon-euro"></i></tt>
        </fieldset>
        <fieldset class="form-field">
            <label class="form-label" for="quantity">Quantity</label>
            <input class="form-input" name="quantity" ng-model="book.quantity" placeholder='1' />
        </fieldset>
        <button class="btn btn-info btn-lg" type="button" ng-click="placeOrder()">Submit order</button>
        <label ng-class="{'bg-danger' : order.success, 'bg-success' : order.success}">{{order.message}}</label>
    </form>
</div>